body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #000;
}
#bottom {
  background-image: url(assets/bg.jpg);
  background-size: cover
}
#info a {
  color: #666666;
}
#info {
  display: block;
  position: absolute;
  left: 0px;
  top: 0px;
  /* width: 750px;
  height: 500px; */
  color: #555555;
  font-size: 13px;
}
#loading {
  position: absolute;
  z-index: 0;
  left: 50%;
  top: 234px;
  width: 161px;
  height: 51px;
  background-image: url(libs/loading.png);
  margin-left: -80px;
}
.canvas {
  display: none;
  position: absolute;
  z-index: 0;
  left: 0px;
  top: 0px;
  /* width: 750px;
  height: 500px; */
}
a {
  text-decoration: none;
}


#canvas_wrapper {
  position: relative;
}

#canvas_wrapper canvas {
  width: 100%;
}